
body{
    margin: 20px;
    padding: 0px;
}
.div_outer{
    border: 2px dotted black;
    width: fit-content;
    margin-bottom: 100px;
}
.div_iner{
    /* max-width: 100px; */
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 2px;
    padding: 1em;
    display: inline-block;
    border-radius: 10px;
}
#static{
    background-color:crimson;
}

#relative{
    background-color:crimson;
    position: relative;
    top: 50px;
    left: 50px;
}

#absolute{
    background-color:crimson;
    position: absolute;
    top: 50px;
    left: 50px; 
}
